.header-container
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    /* flex: 1 3; */
}
.logo-container
{
    margin: 20px 300px 0 40px;
    font-size: 1.3em;
    color: #355070;

}
.navigation-container
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}
.navigation-container a
{
    margin-right: 10px;
    color: #B56576;
    text-align: center;
    width: 100%;
    cursor: pointer;
    min-width: 100px;
    max-width: 100px;
    transition: font-size 0.1s ease-out;
}
.navigation-container a:hover
{
    font-weight: bolder;
    font-size: 1.2em;
    color: #355070;
}

header
{
    position: fixed;
}